Add-Content -Path .gitignore -Value @"
# Arquivos de ambiente
.env

# Arquivos de testes temporários
test*.php
public/test.php

# Dependências do Composer
/vendor/

# Arquivos de instalação
composer.phar
Composer-Setup.exe

# Configurações do Docker
Dockerfile
docker
render.yaml
"@
