# Ignorar dependências do Composer
/vendor/

# Ignorar arquivos de configuração sensíveis
.env

# Ignorar arquivos de cache, logs e temporários
*.log
*.cache
*.tmp

# Ignorar arquivos criados por editores/IDE
*.swp
*.swo
*.bak
*.orig
*.idea/
.vscode/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
